In [1]:
N = int(input())
important_word = input()
word_list = []

for i in range(N):
    word = input()
    if important_word in word:
        word_list.append(word)
        
for i in word_list:
    print(i)

 5
 ai
 pizza
 paiza
 aizu
 ai
 sai

paiza
aizu
ai
sai

In [31]:
A, B = input().split(' ')
A = A.zfill(3)
B = B.zfill(3)
print(A, B)

gokei = ''
for i in range(3):
    if i == 0 and A[0] == '0' and B[0] == '0':
        pass
    else:
        gokei += str(int(A[i]) +int(B[i]))[-1] 
        print(gokei)

In [17]:
gokei

'3063'

In [40]:
N = int(input())

for i in range(N):
    IP = input().split('.', 3)
    for j in range(4):
        if IP[j] in '0123456789':
            print('ok')

 1
 23.52.13.5

ok
ok

In [34]:
p = '192.400.1.10.1000...'
p.split('.',3)

['192', '400', '1', '10.1000...']

In [26]:
N , ju = input().split(' ')
N = int(N)
ju = int(ju)

ni = list(bin(ju))
l = []

for i in range(N):
    l.append(int(input()))
    
for i in range(N):
    print(int(ni[l[i]*-1]))

 3 44
 6
 2
 3

1
0
1

In [18]:
l

[4, 3, 4]

In [21]:
int(ni[0])

0

In [30]:
#1 + 3 = x
l = [n for n in input().split(' ')]

 1 + 3 = x

In [31]:
l

['1', '+', '3', '=', 'x']

In [35]:
l = [n for n in input().split(' ')]

if l[4]=='x':
    x = int(l[0]) + int(l[1]+l[2])
elif l[0]=='x':
    x = int(l[4]) - int(l[1]+l[2])
elif l[2]=='x':
    if l[1] == '+':
        x = int(l[4]) - int(l[0])
    else:
        x = -(int(l[4]) - int(l[0]))
print(x)

4

In [34]:
x

4

In [36]:
n = int(input())

 120

In [37]:
print(n)

120

In [38]:
"""
8
7777
2229
5566
2669
1689
1333
1189
3588
"""

'\n8\n7777\n2229\n5566\n2669\n1689\n1333\n1189\n3588\n'

In [75]:
N = int(input())
l = []

for i in range(N):
    card = list(input())
    s = set(card)
    if len(s) == 4:
        l.append('No Pair')
    elif len(s) == 1:
        l.append('Four Card')
    elif len(s) == 3:
        l.append('One Pair')
    elif len(s) == 2:
        first_num = card[0]
        num = 1
        for j in range(1,4):
            if first_num == card[j]:
                num += 1
        if num == 2:
            l.append('Two Pair')
        elif num == 1 or 3:
            l.append('Three Card')

for k in range(N):
    print(l[k])

 8
 7777
 2229
 5566
 2669
 1689
 1333
 1189
 3588

Four Card
Three Card
Two Pair
One Pair
No Pair
Three Card
One Pair
One Pair

In [67]:
l

['Two Pair']

In [55]:
len(a)

2

6 8 6
My#name#
is#paiza
.#I#like
#program
ming#ver
y#much.#

In [77]:
l = [int(n) for n in input().split(" ")]
sep = l[2]
sentence = ""

for i in range(l[0]):
    sentence += input()
    print(sentence)

sentence[0:6]

sentence[6:12]

sen_len = len(sentence)


row_num = int(sen_len/sep)
if sen_len%sep != 0:
    row_num += 1

n, m = 0, 0

for _ in range(row_num):
    n = m
    m += sep
    print(sentence[n:m])

5 110 120
110
100
120
130
105

In [111]:
day, low, up = [int(n) for n in input().split(' ')]

mochikabu = 0
rieki = 0

for _ in range(day-1):
    kabuka = int(input())
    if kabuka <= low:
        mochikabu += 1
        rieki -= kabuka
    elif up <= kabuka:
        rieki += mochikabu*kabuka
        mochikabu = 0


kabuka = int(input())
rieki += mochikabu*kabuka

print(rieki)

3
3
1
4

In [115]:
N = int(input())

kai = 1
idou = 0
for i in range(N):
    jikai = int(input())
    idou += abs(kai - jikai)
    kai = jikai

print(idou)

pa iza
83

In [165]:
alfabet = [chr(i) for i in range(97, 97+26)]


s ,t = [list(n) for n in input().split(" ")]


def merge_name(name1 , name2):
    num_name = []
    l = name1 + name2
    
    for i in range(len(l)):
        num = alfabet.index(l[i]) + 1
        num_name.append(num)
    return num_name



def num_plus(nm):
    new_num = []
    for i in range(len(nm) - 1):
        
    
        for j in range(len(nm) - 1):
            plus = 0
            plus = nm[j] + nm[j + 1]
    
            if plus <= 100:
                new_num.append(plus)
                
            else:
                new_num.append(plus - 101)
        
        nm = new_num
        new_num = []
    
    return nm

name1 = merge_name(s ,t)
aisho1 = num_plus(name1)

name2 = merge_name(t , s)
aisho2 = num_plus(name2)



if aisho1 <= aisho2:
    print(aisho2[0])
else:
    print(aisho1[0])

 pa iza

[78] [83]
83

In [149]:
nm

[16, 1, 9, 26, 1]

5 6
4 3 6 1 3
3
1 3
1 5
2 3

In [216]:
N , M = [int(n) for n in input().split(" ")]

l = [int(n) for n in input().split(" ")]

l = [4, 3, 6, 1, 3]
Q = int(input())
anzen = 0

for i in range(Q):
    s, e =[int(n)-1 for n in input().split(" ")]
    anzen = sum(l[s:e+1]) / (e - s + 1)

    
    if anzen < 6:
        plus = 6 - int(anzen)
    
        for j in range(s,e+1):
            l[j] += plus
            
print(" ".join(map(str,)

 5 6
 4 3 6 1 3
 3
 1 3
 1 5
 2 3

TypeError: sequence item 0: expected str instance, int found

In [213]:
l

[8, 7, 10, 3, 5]

In [204]:
l

[10, 9, 12, 1, 3]

In [205]:
sum(l[0:2])

19

In [ ]:
str(l)

In [215]:
str(l)

'[8, 7, 10, 3, 5]'

In [217]:
W ,H ,N = [int(n) for n in input().split()]

 7 10 4

In [228]:
field = []

for i in range(H):
    field.append('.' * W)

In [257]:
l = []
field = []
field = ['.' * W for i in range(H)]

tate = 1
yoko = 8
haji = 1

In [258]:
field

['.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......']

In [261]:
for j in range(tate):
    field[j][haji:haji+yoko] = ['#'*yoko for i in field]

TypeError: 'str' object does not support item assignment

In [256]:
field

[['#', '#'],
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......',
 '.......']

In [252]:
field[3]

'.......'

2 700
600 200 200 400
900 800 400 500

In [265]:
N ,kyori = [int(n) for n in input().split()]

unchin, plus = 0, 0


def ryokin(kyori, hatsu_kyori, hatsu_unchin, kasan_kyori, kasan_unchin):
    unchin = hatsu_unchin
    plus = hatsu_kyori
   
    if kyori < hatsu_kyori:
        pass
    else:
        while plus < kyori :
            plus += kasan_kyori
            unchin += kasan_unchin
           
            continue
    return unchin


l = []
for i in range(N):
    hatsu_kyori, hatsu_unchin, kasan_kyori, kasan_unchin = [int(n) for n in input().split()]
    a = ryokin(kyori, hatsu_kyori, hatsu_unchin, kasan_kyori, kasan_unchin)
    l.append(a)

max_ryokin = max(l)
min_ryokin = min(l)
    
print(min_ryokin, max_ryokin,sep=" ")

In [304]:
kyori = 300000
ryokin(kyori, 1000, 410, 237, 80)

101370

3 25
-2 17
-7 20
2 24

In [319]:
ninzu, mondaisu = [int(n) for n in input().split()]

def hyouka(mondaisu, teishutsubi, seitousu):
    hyouka = ''
    tensu = 0
    
    tensu = 100/mondaisu * seitousu
    if 0 < teishutsubi <= 9:
        tensu *= 0.8
    elif 9 < teishutsubi:
        tensu = 0
    
    print(tensu)
    
    if 0 <= tensu < 60:
        hyouka = "D"
    elif 60 <= tensu < 70:
        hyouka = "C"
    elif 70 <= tensu < 80:
        hyouka = "B"
    else:
        hyouka = "A"
    
    return hyouka

l = []

for i in range(ninzu):
    teishutsubi, seitousu = [int(n) for n in input().split()]
    a = hyouka(mondaisu, teishutsubi, seitousu)
    l.append(a)

    print(a)
    
for i in range(ninzu):
    print(l[i])

 1 25
 -7 20

80.0

5
s 70 78 82 57 74
l 68 81 81 60 78
s 63 76 55 80 75
s 90 100 96 10 10
l 88 78 81 97 93

In [329]:
N = int(input())

def hantei(bunri, eigo, sugaku, rika, kokugo, chireki,):
    kei = 0
    gokakusha = 0
    
    if bunri == 's':
        kei = sugaku + rika
    if bunri == 'l':
        kei = kokugo + chireki
    
    total = eigo + sugaku + rika + kokugo + chireki
    
    if kei >= 160 and total >= 350:
        gouhi = 1
    else:
        gouhi = 0
    
    return gouhi


gokakusha = 0

for i in range(N):
    l = []
    eigo, sugaku, rika, kokugo, chireki = [i*0 for i in range(5)]
    l = [n for n in input().split()]
    bunri = l[0]
    eigo, sugaku, rika, kokugo, chireki = [int(n) for n in l[1:]]
    
    gokakusha += hantei(bunri, eigo, sugaku, rika, kokugo, chireki) 

print(gokakusha)

 1
 s 99 99 99 99 99

1

In [323]:
s

1

In [324]:
bunri

's'

3 3
250
500
1000
100 200 300
30 250 0
1 1 1000

5 1
123
456
789
111
220
10 10 10 10 10

In [16]:
M ,N = [int(n) for n in input().split()]

ryori = []
for i in range(M):
    ryori.append(int(input())/100)

cal = []
total_cal = 0
kekka = []

for i in range(N):
    l = []
    total_cal = 0
    
    l = [int(n) for n in input().split()]
    for j in range(M):
        total_cal +=  int(ryori[j]*l[j])
    kekka.append(total_cal)

for i in range(N):
    print(int(kekka[i]))

 5 1
 123
 456
 789
 111
 220
 10 10 10 10 10

169

In [17]:
kekka

[169.89999999999998]

In [18]:
ryori

[1.23, 4.56, 7.89, 1.11, 2.2]

In [19]:
total_cal

169.89999999999998

In [20]:
1.23+4.56+7.89+1.11+2.2

16.99

In [21]:
12.3+45.6+78.9+11.1+22

169.9

5
11 14 16 10
12 15 17 10
13 11 14 11
12 10 13 8
11 13 14 10

In [22]:
N = int(input())

hajimene = 0
owarine = 0
takane = []
yasune = []

l = []
for i in range(N):
    a = [int(n) for n in input().split()]
    l.append(a)

hajimene = l[0][0]
owarine = l[N-1][1]

for i in range(N):
    takane.append(l[i][2])
    yasune.append(l[i][3])

max_takane = max(takane)
min_yasune = min(yasune)

print(hajimene, owarine, max_takane, min_yasune)

In [35]:
takane

[13, 11, 13, 11, 14, 11, 16, 17, 14, 13, 14]

In [1]:
a = 1

In [2]:
a

1

In [20]:
l = input().split()

N = int(l[0])
t = list(l[1])
s = list(l[2])

count = 0
while t != s:
    temp = s[0]
    for i in range(N-1):
        s[i] = s[i+1]
    s[N-1] = temp
    count += 1

print(count)

 4 abab baba

IndexError: list assignment index out of range

In [19]:
count

2

In [10]:
t == s

False

In [21]:
a = 1

In [22]:
a

1

In [26]:
A, B = [int(n) for n in input().split()]

N = int(input())

def shobu(A, B, a, b):
    shohai = ''
    if A > a:
        shohai = 'High'
    elif A < a:
        shohai = 'Low'
    else:
        if B < b:
            shohai = 'High'
        else:
            shohai = 'Low'
    return shohai    

l = []
for i in range(N):
    a, b = 0, 0
    a, b = [int(n) for n in input().split()]
    l.append(shobu(A, B, a, b))

    
for i in range(N):
    print(l[i])

In [59]:
yen, P = [int(n) for n in input().split()]

pay_sum = yen

while 0 < yen:
    yen = yen * (100-P) * 0.01
    yen = int(yen)
    pay_sum += yen
    print(yen, pay_sum)

print(pay_sum)

 1000 99

10 1010
0 1010
1010

In [ ]:
N = int(input())

tokuten = 0

for i in range(N):
    l = []
    l = input().split()
    if l[0] == l[1]:
        tokuten += 2
    elif len(l[0]) != len(l[1]):
        tokuten += 0
    else:
        a = list(l[0])
        b = list(l[1])
        fuicchi = 0
        for j in range(len(l[0])):
            if a[j] != b[j]:
                fuicchi +=1
        if fuicchi == 1:
            tokuten += 1
    print(tokuten)

 12
 january januarry

0

 february febrary

0

 march march

3

In [86]:
b

['a', 'p', 'l']

In [79]:
len(l[0])

5